@media screen and (min-width: 200px) and (max-width: 767px)
{ 
   /* decaler en mobile */
*
{
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
}
header {
  display: flex;
  justify-content: center;
  padding: 35px;
  box-shadow: 20px 20px 10px -15px #111;    
}
header img {
    width: 50%;
}
header i {
    position: relative;
    top: 15px;
right: 100px;
}

.localisation-top {
    background-color: rgb(231, 231, 231);
    padding: 25px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(20, 20, 20);
    display: flex;
}
.localisation-top i {
    margin-left: 20%;
}
.localisation-top input {
    margin-left: 3%;
    background-color: rgb(20, 20, 20, 0);
    border: none;
    font-size: 20px;
    text-decoration: none;
}
.localisation-top input:focus {
    outline: none;    
    }
.accueil-reserve {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}
.accueil-reserve div {
padding: 60px;
display: flex;
flex-direction: column;
justify-content: center;
}
h2 {
font-size: 30px;
text-align: center;
color: black;
}
.accueil-reserve p {
    font-size: 20px;
text-align: center;
margin-top: 30px;
margin-bottom: 50px;
font-weight: 200;
}
.accueil-reserve input {
    padding: 22px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.accueil-fonctionnement h2 {
    padding-top:70px;
    padding-bottom:70px;
    display: flex;
    justify-content: start;
}
.accueil-fonctionnement{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
} 
.accueil-fonctionnement section {
    display: flex;
    flex-direction: column;
}

.accueil-fonctionnement div {
    margin-bottom: 30px;
    text-align: left;
    border-radius: 45px;
    border: none;
	box-shadow: 0px 0px 21px -9px #000000;
    font-size: 20px;
    display: flex;
}
.accueil-fonctionnement div:hover {
    background-color: #e4d1fc;
}
.accueil-fonctionnement span {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;

}
.accueil-fonctionnement i {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.accueil-fonctionnement p {
   background-color: rgb(148, 59, 250);
   color: white;
   text-align: center;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   position: relative;
   top: 15px;
}

.accueil-restaurants {
    background-color: rgb(238, 238, 238);
}
.accueil-restaurants h2 {
    text-align: left;
    padding-top:70px;
}
.accueil-restaurants-bloc {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}

.cards-restau {
    border-radius: 20px;
    background-color: rgb(255, 255, 255) !important;
    margin-top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards-restau a {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards-restau span {
background-color: rgb(129, 253, 191);
color: rgb(2, 170, 120);
padding: 8px;
position: relative;
top: 50px;
left: 80%;
border-radius: 5px;
}
.cards-restau-last {
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom:30px ;
}
.accueil-restaurants img {
border-top-left-radius: 20px;
border-top-right-radius: 20px;
width: 100%;
height: 200px;
object-fit: cover;
}

.cards-restau-desc {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 70px;
    width: 80%;
    margin-left: 5%;
}
.cards-restau-desc i {
   position: relative;
   left: 110%;
   top: -40px;
   font-size: 20px;
}

footer {
    background-color: rgb(66, 66, 66);
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
}
footer a {
    margin-left: 8%;
    margin-bottom:7px;
color: white;
}
footer h1 {
    font-family: 'Shrikhand', cursive;
    margin-left: 8%;

}

footer i {
    margin-right: 20px;
    width: 10px;
}


 }


 /* ------------- NOUVEAU CSS menufr ------------- */

 .img-top img {
width: 100%;
z-index: -1;

 }
 .menu-parent {
     background-color: rgb(221, 221, 221);
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;
     margin-top: -20px;
     z-index: 11;
 }
 .menu-parent div {
     margin-bottom: 50px;
     margin-left: 5%;
 }
 .first-div-menu-parent {
     display: flex;
     justify-content: space-between;
     
     padding-top: 40px;
 }

 .first-div-menu-parent h3 {
    font-family: 'Shrikhand', cursive !important;
    font-size: 30px;
 }

 .first-div-menu-parent i {
    padding-top: 10px;
    font-size: 20px;
}
.card-plat {
    background-color: white;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 20px;
}
.card-plat p {
    padding: 5px
}
.card-plat B {
    margin-left: 90%;
    margin-top:-15px ;
}
.menu-parent hr {
    width: 10%;
    background-color: yellowgreen;
    height: 1.5px;
    border: none;
    margin-top:7px;
}