@media screen and (min-width: 200px) and (max-width: 767px) {
  /* decaler en mobile */
  * {
    padding: 0px;
    margin: 0px;
    font-family: "Raleway", sans-serif;
  }
  header {
    display: flex;
    justify-content: center;
    padding: 35px;
    box-shadow: 20px 20px 10px -15px #111;
  }
  header img {
    width: 50%;
  }
  header i {
    position: relative;
    top: 15px;
    right: 100px;
  }

  .localisation-top {
    background-color: rgb(231, 231, 231);
    padding: 25px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(20, 20, 20);
    display: flex;
  }
  .localisation-top i {
    margin-left: 20%;
  }
  .localisation-top input {
    margin-left: 3%;
    background-color: rgb(20, 20, 20, 0);
    border: none;
    font-size: 20px;
    text-decoration: none;
  }
  .localisation-top input:focus {
    outline: none;
  }
  .accueil-reserve {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
  }
  .accueil-reserve div {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    color: black;
  }
  .accueil-reserve p {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 200;
  }

  .btn-link {
    color: #000000;
    margin-top: 25px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff79da),
      to(#9356dc)
    );
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 0px 14px -4px rgb(0 0 0 / 78%);
    -webkit-box-shadow: 0px 4px 10px -4px rgb(0 0 0 / 78%);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.78);
    color: #fff;
    font-size: 0.8rem;
    border-radius: 23px;
    opacity: 0.8;
    font-weight: 400;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 13rem;
    text-align: center;
    margin: auto;
  }

  .accueil-fonctionnement h2 {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: start;
  }
  .accueil-fonctionnement {
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    justify-content: center;

  }
  .accueil-fonctionnement section {
    display: flex;
    flex-direction: column ;
  }

  .accueil-fonctionnement div {
    width: 90%;
    margin-bottom: 30px;
    text-align: left;
    border-radius: 45px;
    border: none;
    box-shadow: 0px 0px 21px -9px #000000;
    font-size: 20px;
    display: flex;
    margin-left: 5%;
    padding: 0px;
  }
  .accueil-fonctionnement div:hover {
    background-color: #e4d1fc;
  }
  .accueil-fonctionnement span {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .accueil-fonctionnement i {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .accueil-fonctionnement p {
    background-color: rgb(148, 59, 250);
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 15px;
    left: -15px;
  }

  .accueil-restaurants {
    background-color: rgb(238, 238, 238);
    padding: 0% 5% 10% 5%;
  }
  .accueil-restaurants h2 {
    text-align: left;
    padding-top: 70px;
  }

  .cards-restau {
    border-radius: 20px;
    background-color: rgb(255, 255, 255) ;
    margin-top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%  ;
    height: 100%  ;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 15px 0;

  }

  
  .cards-restau a {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .cards-restau span {
    background-color: rgb(129, 253, 191);
    color: rgb(2, 170, 120);
    padding: 8px;
    position: absolute  ;
    margin-top: 15px;
    right: 35px;
    border-radius: 5px;
  }
  .cards-restau-last {
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .accueil-restaurants img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
.accueil-restau-card-desktop {
  display: flex;
  flex-direction: column  ;
}
  .cards-restau-desc {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 70px;
    width: 80%;
    margin-left: 5%;
  }
  .cards-restau-desc i {
    position: relative;
    left: 110%;
    top: -40px;
    font-size: 20px;
  }

  figcaption i {
    position: relative;
    left: 95%; 
    font-size: 25px;
    margin-top: -30px;
  }

  footer {
    background-color: rgb(66, 66, 66);
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  footer li {
    margin-bottom: 7px;
    color: white;
  }
  footer h1 {
    font-family: "Shrikhand", cursive;
    margin-left: 8%;
  }

  footer i {
    margin-right: 20px;
    width: 10px;
  }
  /* ------------- NOUVEAU CSS menufr ------------- */

  .menu-parent {
    width: 100%;
    margin-left: 0%;
 }
}


