/* decaler en mobile */
@media screen and (min-width: 768px) and (max-width: 999px) {
  header i {
    right: 20%;
  }

  .accueil-fonctionnement {
    div {
      font-size: 12px;
      padding: 15px;
    }

    p {
      width: 20px;
      height: 18.5px;
      left: -15px;
    }
  }

  .accueil-restaurants {
    img {
      height: 180px;
    }
  }

  .cards-restau {
    height: 100%;

    span {
     margin-left:31% ;
      border-radius: 5px;
    }

    &-desc {
      width: 80%;

      i {
        left: 110%;
      }
    }
  }

  footer {
    li {
      margin-bottom: 7px;
      color: white;
    }
  }
}
