$color_1: rgb(20, 20, 20);
$color_2: black;
$color_3: white;
$font-family_1: "Raleway", sans-serif;
$font-family_2: "Shrikhand", cursive;
$gris-clair: rgb(231, 231, 231);
$background-color_2: rgb(20, 20, 20, 0);
$gris-clair_2: rgb(238, 238, 238);
$background-color_4: #e4d1fc;
$background-color_5: rgb(148, 59, 250);
$background-color_6: white;
$green_pastel: #99e2d0;
$pink_flash: #ff79da;
$purple_1: #9356dc;
$background-color_8: rgb(66, 66, 66);
$nb-cartes-menu-max: 15;
