$color_1: rgb(20, 20, 20);
$color_2: black;
$color_3: white;
$color_4: rgb(2, 170, 120);
$font-family_1: "Raleway", sans-serif;
$font-family_2: "Shrikhand", cursive;
$background-color_1: rgb(231, 231, 231);
$background-color_2: rgb(20, 20, 20, 0);
$background-color_3: rgb(238, 238, 238);
$background-color_4: #e4d1fc;
$background-color_5: rgb(148, 59, 250);
$background-color_6: white;
$background-color_7: rgb(129, 253, 191);
$background-color_8: rgb(66, 66, 66);
