@media screen and (min-width: 200px) and (max-width: 767px) {
	/* decaler en mobile */

	header {
	  padding: 35px;
	  img {
		width: 50%;
	  }
	  i {
		position: relative;
		top: 15px;
		right: 100px;
	  }
	}
  
	.localisation-top {
	  i {
		margin-left: 20%;
	  }
	}

	.accueil-reserve {
	  justify-content: center;
	}

	.accueil-fonctionnement {
	  justify-content: center;
	  section {
		flex-direction: column ;
	  }
	  div {
		width: 90%;
		margin-left: 5%;
		padding: 0px;
	  }
	  span {
		margin-left: 10%;
		margin-top: 20px;
		margin-bottom: 20px;
	  }
	  i {
		margin-left: 10%;
		margin-top: 20px;
		margin-bottom: 20px;
	  }
	  p {
		width: 30px;
		height: 30px;
		top: 15px;
		left: -15px;
	  }
  
	}

  
	.accueil-restaurants {
	  background-color: rgb(238, 238, 238);
	  padding: 0% 5% 10% 5%;
	 
	  img {
		height: 200px;
	  }
	}
  
	.cards-restau {
	  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	  width: 100%  ;
	  height: 100%  ;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  margin: 15px 0;
	  a {
		background-color: white;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	  }
	  span {
		padding: 8px;
		position: absolute  ;
		margin-top: 15px;
		right: 35px;
	  }
	  &-last {
		margin-bottom: 30px;
	  }
	  &-desc {
		width: 80%;
		i {
		  left: 110%;
		}
	  }
  
	}
  

  .accueil-restau-card-desktop {
	flex-direction: column  ;
  }
  
	figcaption i {
	  position: relative;
	  left: 95%; 
	  font-size: 25px;
	  margin-top: -30px;
	}
  
	footer {
	  height: 200px;
	  display: flex;
	  flex-direction: column;
	   li {
		margin-bottom: 7px;
		color: white;
	  }
	   h1 {
		font-family: "Shrikhand", cursive;
		margin-left: 8%;
	  }

	}

	/* ------------- NOUVEAU CSS menufr ------------- */
  
	.menu-parent {
	  width: 100%;
	  margin-left: 0%;
	  padding: 0 0 50px 0;
	  h2 {
		text-align: start;
		padding-left: 20px;
	  }
   }
  
  }
  
  
  