/* decaler en mobile */
*
{
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
}
header {
  display: flex;
  justify-content: center;
  padding: 35px;
  box-shadow: 20px 20px 10px -15px #111;    
}

.localisation-top {
    background-color: rgb(231, 231, 231);
    padding: 35px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(20, 20, 20);
}
.localisation-top div {
    width: 38%;
    display: flex;
    justify-content: space-between;
    margin-left: 27%;
}
.accueil-reserve {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}
.accueil-reserve div {
padding: 120px;
display: flex;
flex-direction: column;
justify-content: center;
}
h2 {
font-size: 60px;
text-align: center;
}
.accueil-reserve p {
    font-size: 35px;
text-align: center;
margin-top: 30px;
margin-bottom: 50px;
font-weight: 200;
}
.accueil-reserve button {
    width: 55%;
    margin-left: 22.5%;
    padding: 27px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
}
.accueil-fonctionnement h2 {
    padding-top:70px;
    padding-bottom:70px;
    display: flex;
    justify-content: start;
}
.accueil-fonctionnement{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
} 

.accueil-fonctionnement button {
    margin-bottom: 30px;
    height: 120px;
    border-radius: 45px;
    border: none;
	box-shadow: 0px 0px 21px -9px #000000;
    font-size: 40px;
}
.accueil-fonctionnement button::placeholder {
    background-color: #dbbffd;
}