$color_1: rgb(20, 20, 20);
$color_2: black;
$color_3: #000000;
$color_4: #fff;
$color_5: white;
$color_6: rgb(2, 170, 120);
$font-family_1: "Raleway", sans-serif;
$font-family_2: "Shrikhand", cursive;
$background-color_1: rgb(231, 231, 231);
$background-color_2: rgb(20, 20, 20, 0);
$background-color_3: rgb(238, 238, 238);
$background-color_4: #e4d1fc;
$background-color_5: rgb(148, 59, 250);
$background-color_6: white;
$background-color_7: rgb(129, 253, 191);
$background-color_8: rgb(66, 66, 66);
$background-color_9: rgb(243, 243, 243);
$background-color_10: #99E2D0;

/* decaler en mobile */
/* changer  */
/* .accueil-reserve input {
    padding: 22px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    width: 30%;
    margin-left: 35%;
    text-align: center;
} */
/* ------------- NOUVEAU CSS menufr ------------- */
* {
	padding: 0px;
	margin: 0px;
	font-family: $font-family_1;
}
header {
	display: flex;
	justify-content: center;
	padding: 10px;
	box-shadow: 20px 20px 10px -15px #111;
	i {
		position: relative;
		top: 15px;
		font-size: 25px;
		right: 30%;
	}
}
.localisation-top {
	background-color: $background-color_1;
	padding: 25px;
	font-size: 25px;
	font-weight: 500;
	color: $color_1;
	display: flex;
	justify-content: center;
	i {
		margin-left: 0%;
	}
	input {
		margin-left: 3%;
		background-color: $background-color_2;
		border: none;
		font-size: 20px;
		text-decoration: none;
		&:focus {
			outline: none;
		}
	}
}
.accueil-reserve {
	background-color: $background-color_3;
	display: flex;
	justify-content: start;
	div {
		padding: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	p {
		font-size: 20px;
		text-align: start;
		margin-top: 30px;
		margin-bottom: 50px;
		font-weight: 200;
	}
}
h2 {
	font-size: 30px;
	text-align: start;
	color: $color_2;
}
.btn-link {
	color: $color_3;
	margin-top: 25px;
	background: -webkit-gradient( linear, left top, left bottom, from(#ff79da), to(#9356dc) );
	background: linear-gradient(#ff79da, #9356dc);
	box-shadow: 0px 0px 14px -4px rgb(0 0 0 / 78%);
	-webkit-box-shadow: 0px 4px 10px -4px rgb(0 0 0 / 78%);
	-moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.78);
	color: $color_4;
	font-size: 0.8rem;
	border-radius: 23px;
	opacity: 0.8;
	font-weight: 400;
	padding: 15px 20px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	width: 13rem;
	text-align: center;
	margin: auto;
}
.accueil-fonctionnement {
	h2 {
		padding-top: 70px;
		padding-bottom: 70px;
		display: flex;
		justify-content: start;
	}
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: 5%;
	section {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	div {
		width: 20%;
		margin-bottom: 30px;
		text-align: left;
		border-radius: 45px;
		border: none;
		box-shadow: 0px 0px 21px -9px #000000;
		font-size: 20px;
		padding: 30px;
		display: flex;
		background-color: $background-color_3;
		&:hover {
			background-color: $background-color_4;
		}
	}
	span {
		margin-left: 15px;
		font-weight: bold;
		margin-top: 6px;
		font-size: 15px;
	}
	i {
		margin-left: 0px;
		margin-top: 7px;
	}
	p {
		background-color: $background-color_5;
		color: $color_5;
		text-align: center;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		position: relative;
		top: 0px;
		left: -42px;
		padding: 5px;
	}
}
.accueil-restaurants {
	background-color: $background-color_3;
	padding-left: 5%;
	h2 {
		text-align: left;
		padding-top: 70px;
	}
	img {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		width: 100%;
		height: 275px;
		object-fit: cover;
	}
}
.accueil-restau-card-desktop {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.cards-restau {
	border-radius: 20px;
	background-color: $background-color_6;
	margin-top: 30px;
	margin-bottom: 50px;
	height: 400px;
	width: 45%;
	cursor: pointer;
	transition: transform 0.5s;
	figure {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	figcaption {
		padding: 25px;
	}
	span {
		background-color: $background-color_7;
		color: $color_6;
		padding: 8px;
		position: absolute;
		margin-top: 20px;
		margin-left: 35%;
		border-radius: 5px;
	}
	&:hover {
		box-shadow: none;
	}
}
.cards-restau-last {
	border-radius: 20px;
	background-color: $background-color_6;
	margin-top: 30px;
	margin-bottom: 50px;
	cursor: pointer;
	transition: transform 0.5s;
	&:hover {
		box-shadow: none;
	}
}
.cards-restau-desc {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 70px;
	width: 80%;
	margin-left: 5%;
	i {
		position: relative;
		left: 105%;
		top: -40px;
		font-size: 20px;
	}
}
footer {
	background-color: $background-color_8;
	color: $color_5;
	height: 150px;
	h1 {
		font-family: $font-family_2;
		margin-left: 8%;
	}
	ul {
		margin-left: 8%;
		margin-bottom: 7px;
		color: $color_5;
		cursor: pointer;
		display: flex;
		flex-direction: row;
	}
	li {
		margin-right: 50px;
		margin-top: 30px;
	}
	div {
		display: flex;
	}
	i {
		margin-right: 20px;
		width: 10px;
	}
}
ul {
	list-style-type: none;
}
.img-top {
	img {
		width: 100%;
		height: 300px;
		z-index: -1;
		object-fit: cover;
		width: 100%;
		z-index: -1;
	}
}
.menu-parent {
	background-color: $background-color_9;
	border-radius: 30px;
	margin-top: -30px;
	z-index: 11;
	padding-bottom: 50px;
	position: relative;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 50px;
	h4 {
		font-weight: 200;
	}
	div {
		width: 60%;
		margin-left: 20%;
		gap: 20px;
		width: 95%;
		margin-left: 2.5%;
	}
}
.menu-part {
	margin-top: 30px;
}
.first-div-menu-parent {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	h3 {
		font-family: $font-family_2;
		font-size: 30px;
	}
	i {
		padding-top: 10px;
		font-size: 20px;
	}
}
.card-plat {
	background-color: $background-color_6;
	padding: 10px;
	border-radius: 20px;
	background-color: $background-color_6;
	padding-top: 10px;
	margin-top: 20px;
	border-radius: 20px;
	p {
		padding: 5px;
		padding: 5px;
	}
	B {
		right: 35%;
		margin-top: -15px;
		position: absolute;
		right: 7%;
		margin-top: -15px;
		position: absolute;
	}
}
h4 {
	&::after {
		display: block;
		font-weight: 800;
		padding-top: 3px;
		margin-top: 3px;
		content: '';
		width: 35px;
		background-color: $background-color_10;
	}
}
.btn-cmd {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	border-radius: 30px;
	background: linear-gradient(#ff79da, #9356dc);
	color: $color_5;
	border: none;
	margin-top: 30px;
}
